@import './var.scss';

.post-field {
    margin-bottom: 20px;
}

.post-article {
    padding-bottom: 20px;
    text-indent: 20px;
}

.article-selector {
    position:relative;
    width: 100%;
    text-align: center;
}

.current-article {
    font-size: 48px;
    cursor: pointer;
    display: inline-block;
    max-width: 80%;
}

.arrow {
    margin-top: 18px;
    display: inline-block;
    cursor: pointer;
}

.arrow.disable {
    opacity: .5;
}

.arrow-left {
    transform: rotate(270deg);
    margin-left: 10px;
    position: absolute;
    left: 0;
}

.arrow-right {
    transform: rotate(90deg);
    margin-right: 10px;
    position: absolute;
    right: 0;
}

.articles {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

}

.entry {
    line-height: 28px;
    padding: 20px;
    h3 {
        font-size: 32px;
        font-weight: normal;
    }
    .post-title {
    }
    .subtitle {
        font-weight: 700;
    }
    .post-content {
    }
    .section-divider-pad {
        padding-bottom: 20px;
    }
    .prettyprint {
        border-radius: 5px;
        line-height: 14px;
    }
}

.pln {
  color: #000
}
@media screen {
  .str {
    color: #080
  }
  .kwd {
    color: #008
  }
  .com {
    color: #800
  }
  .typ {
    color: #606
  }
  .lit {
    color: #066
  }
  .pun,
  .opn,
  .clo {
    color: #660
  }
  .tag {
    color: #008
  }
  .atn {
    color: #606
  }
  .atv {
    color: #080
  }
  .dec,
  .var {
    color: #606
  }
  .fun {
    color: red
  }
}
@media print,
projection {
  .str {
    color: #060
  }
  .kwd {
    color: #006;
    font-weight: bold
  }
  .com {
    color: #600;
    font-style: italic
  }
  .typ {
    color: #404;
    font-weight: bold
  }
  .lit {
    color: #044
  }
  .pun,
  .opn,
  .clo {
    color: #440
  }
  .tag {
    color: #006;
    font-weight: bold
  }
  .atn {
    color: #404
  }
  .atv {
    color: #060
  }
}
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee
}

$breakpoint-tablet: 768px;
$breakpoint-phone: 414px;

@media screen and (max-device-width: $breakpoint-phone) {
  .header {
    display: none;
  }
  .entry {
    overflow: scroll;
    .post-content {
      line-height: 60px;
    }
    .subtitle {
      line-height: 48px;
    }
  }

  .article-selector {
    .current-article {
      font-size: 70px;
    }
  }
  .arrow {
    width: 200px;
    height:50px;
    img {
      width: 100px;
    }
  }
  .arrow-right {
    position: absolute;
    right: -50px;
    top: 75px;
  }
  .arrow-left {
    position: absolute;
    left: -50px;
    top: 75px;
  }
}
