@import './var.scss';

.footer {
    height: 120px;
    text-align: center;
    margin-bottom: 50px;
    .actions {
        margin-bottom: 50px;
        button {
            cursor: pointer;
        }
        cursor: pointer;
    }
}

@media screen and (max-device-width: $breakpoint-phone) {
    .footer {
        font-size: 36px;
        padding: 0 40px;
    }
}