.header {
    position: relative;
    text-align: center;
    height: 150px;
    font-size: 40px;
    overflow: hidden;
    margin-bottom: 20px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 150px;
    }
}
