.header {
    position: relative;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
    margin-bottom: 20px;
    .headshot {
        display: inline-block;
        cursor: pointer;
        border-radius: 15%;
        padding: 5px;
        margin-top: 35px;
        height: 75px;
        background: lightgrey;
        &:hover {
            background: lightsteelblue;
        }
    }
    .name {
        font-weight: 900;
    }
}
