@import './var.scss';

.current-article {
  cursor: pointer;
  display: block;
}

.article-selector {
  position:relative;
  width: 100%;
  text-align: center;


  ul {
    li {
      cursor: pointer;
      padding: 10px;
      list-style: none;
      clear: both;
      display: block;
      width: 100%;
      .title {
        display: inline-block;
        text-align: left;
        width: 80%;
      }
      .date {
        display: inline-block;
        text-align: right;
        width: 20%;
      }
    }
  }
  .articles {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
}

.toolbar {
  clear: both;
}

.arrow {
  width: auto;
  cursor: pointer;
}

.arrow.disable {
  opacity: .5;
}

.arrow-right {
  margin-right: 20px;
}

.arrow-left {
  margin-left: 20px;
}

ul.article-list {
  margin-top: 20px;
}


@media screen and (max-device-width: $breakpoint-phone) {
  .article-selector {
    ul {
      li {
        font-size: 38px;
        .title {
          width: 100%;
        }
        .date {
          display: none;
        }
      }
    }
  }
}

