body {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
.app {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.app.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
}